.about {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10.218rem;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 5rem;
  max-width: 111.7rem;
  max-height: 100rem;
  overflow: hidden;

  @media only screen and (max-width: $small-2) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media only screen and (max-width: $small) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3.182rem;
    margin-left: 1.1rem;
    width: 47.7rem;
    height: 50.4rem;

    @media only screen and (max-width: $large) {
      width: auto;
      height: auto;
      margin: auto;
    }
    @media only screen and (max-width: $small-2) {
      position: relative;
      left: -6rem;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47.5rem;
    height: 31rem;
    margin-left: 6.2rem;
    margin-right: 9.2rem;
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;

    @media only screen and (max-width: $large) {
      margin: auto;
      margin-bottom: 8rem;
    }
  }
}
