.footer {
  margin-top: 15rem;
  margin-bottom: 8.9rem;

  &__divider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: #9c69e2;
    opacity: 0.2;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    top: 10rem;

    @media only screen and (max-width: $desktop-small) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 58.4rem;
      height: 10.1rem;

      @media only screen and (max-width: $desktop-small) {
        text-align: center;
      }
    }
    &__buttons {
      display: flex;
      justify-content: space-between;
      width: 41rem;
      height: 6rem;

      @media only screen and (max-width: $desktop-small) {
        margin-top: 3rem;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 25rem;

    @media only screen and (max-width: $tab-large) {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__company {
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $tab-small) {
        align-items: center;
      }

      &__icons {
        visibility: hidden;
        width: 17.8rem;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: $tab-small) {
          visibility: visible;
        }
      }
      &__details {
        display: flex;
        align-items: center;

        &__name {
          margin-left: 2rem;
          font-family: $secondary-font;
          color: $primary-color;
          font-size: 2rem;
          font-weight: 900;
          line-height: 3.2rem;
        }
      }
      &__address {
        font-family: $secondary-font;
        color: $primary-color;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.88rem;
        letter-spacing: 0.01rem;
        margin-top: 6.5rem;

        @media only screen and (max-width: $tab-large) {
          text-align: center;
        }
      }
      &__contact {
        font-family: $secondary-font;
        color: $primary-color;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.88rem;
        letter-spacing: 0.01rem;
        margin-top: 1rem;

        @media only screen and (max-width: $tab-large) {
          text-align: center;
        }
      }
    }
    &__links {
      display: flex;

      @media only screen and (max-width: $tab-large) {
        flex-wrap: wrap;
        margin-top: 5rem;
        width: 100vw;
        justify-content: center;
      }

      &__header {
        font-family: $secondary-font;
        color: $primary-color;
        font-weight: 900;
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 3rem;
      }
      &__text {
        font-family: $secondary-font;
        color: $primary-color;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 4rem;
      }
      &__about {
        list-style-type: none;
        padding-left: 0;
        margin-top: 1rem;
        margin-left: 5rem;
        width: 16.6rem;
      }
      &__help {
        list-style-type: none;
        padding-left: 0;
        margin-top: 1rem;
        margin-left: 5rem;
        width: 16.6rem;

        @media only screen and (max-width: $desktop-medium) {
          margin-left: 0rem;
        }
        @media only screen and (max-width: $tab-large) {
          width: 11.6rem;
        }
      }
      &__social {
        height: 11rem;
        width: 17.8rem;
        margin-top: 1rem;
        margin-left: 5rem;
        margin-right: 3.2rem;

        @media only screen and (max-width: $desktop-medium) {
          margin-left: 0rem;
        }
        @media only screen and (max-width: $tab-small) {
          display: none;
        }

        &__icons {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
