.testimonial {
  max-width: 111.8rem;
  max-height: 70.9rem;
  background-color: #9c69e2;
  border-radius: 5rem;
  padding-top: 10.9rem;
  padding-left: 9.3rem;
  padding-bottom: 5.8rem;
  margin-top: 10rem;

  @media only screen and (max-width: $desktop-large) {
    padding-top: 5.8rem;
  }
  @media only screen and (max-width: $tab-medium) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @media only screen and (max-width: $phone-small) {
    padding-left: 0;
  }

  &__header {
    color: #ffffff;

    @media only screen and (max-width: $phone-small) {
      text-align: center;
    }
  }
  &__container {
    margin-top: 8.8rem;
    display: flex;

    @media only screen and (max-width: $desktop-large) {
      justify-content: center;
      padding-right: 7.3rem;
      margin-top: 5rem;
    }

    @media only screen and (max-width: $phone-small) {
      margin-top: 3rem;
      padding-right: 0;
    }

    &__box {
      display: flex;
      border-radius: 2rem;
      margin-right: 2rem;
      background: #ffffff;
      width: 64.5rem;
      height: 33rem;
      box-shadow: 0rem 2rem 0rem #8a56da;

      @media only screen and (max-width: $tab-medium) {
        width: 50rem;
        margin-right: 0;
      }
      @media only screen and (max-width: $tab-small) {
        width: 40rem;
      }
      @media only screen and (max-width: $phone-small) {
        width: 33rem;
      }

      &--next {
        position: relative;
        box-shadow: 0rem 2rem 0rem #9863e0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0;
        width: 40rem;
        border: 0.1rem solid #9c69e2;

        @media only screen and (max-width: $desktop-large) {
          display: none;
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 22rem;
          height: 35rem;
          background-image: linear-gradient(
            270deg,
            #9b69e2e5 5%,
            rgba(255, 255, 255, 0) 100%
          );
        }
      }
      &__image {
        margin-top: 6rem;
        margin-left: 7rem;
        border-radius: 50%;
        width: 9rem;
        height: 9rem;

        @media only screen and (max-width: $tab-medium) {
          margin-top: 3rem;
          margin-left: 3.5rem;
        }

        &--next {
          margin-left: 4rem;
          margin-top: 5.5rem;
          opacity: 0.8;
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        width: 50.5rem;
        height: 22rem;
        margin-top: 8rem;
        margin-left: 3rem;
        margin-bottom: 5rem;
        margin-right: 7rem;

        @media only screen and (max-width: $tab-medium) {
          margin-top: 4rem;
          margin-right: 3.5rem;
        }
        @media only screen and (max-width: $phone-small) {
          max-height: 22rem;
          overflow: hidden;
          margin-top: 4rem;
          margin-right: 3.5rem;
        }
        &--next {
          width: 18rem;
          height: 20rem;
          margin-top: 7.5rem;
          margin-right: 0;
        }

        &__details {
          margin-bottom: 1.9rem;

          &__name {
            color: $primary-color;
            font-weight: 800;
            letter-spacing: 0.005rem;
          }
          &__link {
            color: #9c69e2;
            letter-spacing: 0.01rem;
            line-height: 2.24rem;
            font-size: 1.4rem;
          }
        }
        &__text {
          line-height: 3.24rem;
          font-weight: 400;

          &--next {
            opacity: 0.6;
          }
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-right: 7.6rem;

    @media only screen and (max-width: $phone-small) {
      margin-right: 4rem;
      margin-left: 4rem;
    }

    &__slider {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;
      height: 1rem;

      &__next {
        list-style-type: none;
        background-image: url("../images/ellipse.svg");
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 1rem;

        &--active {
          background-image: url("../images/active-ellipse.svg");
          width: 1rem;
          height: 1rem;
        }
      }
    }
    &__page-arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 8rem;
    }
  }
}
